    <div class="shape"></div>
    <div class="count" data-n="{{COUNT_NUM}}"><b>{{COUNT_NUM}}</b><span>{{COUNT_LABEL}}</span></div>
    <div class="board">
      <div class="cell"><img src="assets/item-1.png" alt="{{ITEM_1_ALT}}"></div>
      <div class="cell"><img src="assets/item-2.png" alt="{{ITEM_2_ALT}}"></div>
      <div class="cell"><img src="assets/item-3.png" alt="{{ITEM_3_ALT}}"></div>
      <div class="cell"><img src="assets/item-4.png" alt="{{ITEM_4_ALT}}"></div>
      <div class="cell"><img src="assets/item-5.png" alt="{{ITEM_5_ALT}}"></div>
      <div class="cell"><img src="assets/item-6.png" alt="{{ITEM_6_ALT}}"></div>
      <div class="cell"><img src="assets/item-7.png" alt="{{ITEM_7_ALT}}"></div>
      <div class="cell"><img src="assets/item-8.png" alt="{{ITEM_8_ALT}}"></div>
    </div>
    <div class="tag" data-n="{{TAG}}">{{TAG}}</div>
