    <div class="disc"></div>
    <div class="ring"></div>
    <div class="fan">
      <div class="sheet back-a"><img src="assets/sheet-3.png" alt="{{SHEET_3_ALT}}"></div>
      <div class="sheet back-b"><img src="assets/sheet-2.png" alt="{{SHEET_2_ALT}}"></div>
      <div class="sheet front"><img src="assets/sheet-1.png" alt="{{SHEET_1_ALT}}"></div>
    </div>
    <div class="stamp" data-n="{{STAMP_NUM}}"><b>{{STAMP_NUM}}</b><span>{{STAMP_LABEL}}</span></div>
    <div class="tag" data-n="{{TAG}}">{{TAG}}</div>
